<script type="text/javascript" src="/javascripts/calendar/calendar.js"></script>
<script type="text/javascript" src="/javascripts/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="/javascripts/calendar/lang/calendar-br.js"></script>
<link type="text/css" rel="stylesheet" media="screen" href="/javascripts/calendar/calendar-blue.css">
<h1>Editar andamento</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @fichario_andamento_ficha %> |
<%= link_to 'Voltar', fichario_andamento_fichas_path %>
