<p id="notice"><%= notice %></p>

<p>
  <b>Descrição:</b>
  <%= @fichario_andamento.descricao %>
</p>


<%= link_to 'Editar', edit_fichario_andamento_path(@fichario_andamento) %> |
<%= link_to 'Voltar', fichario_andamentos_path %>
