<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @fichario_origem.descricao %>
</p>


<%= link_to 'Edit', edit_fichario_origem_path(@fichario_origem) %> |
<%= link_to 'Back', fichario_origens_path %>
