<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @fichario_assunto.descricao %>
</p>


<%= link_to 'Edit', edit_fichario_assunto_path(@fichario_assunto) %> |
<%= link_to 'Back', fichario_assuntos_path %>
