<p>
  <b>Descrição:</b>
  <%= @frequencia_justificativa.descricao %>
</p>

<%= link_to image_tag('/images/icons/editar.png')+' Editar', edit_frequencia_justificativa_path(@frequencia_justificativa) %> |
<%= link_to image_tag('/images/icons/arrow_left.png')+' Voltar', frequencia_justificativas_path %>
