<h1>Editar conhecimento</h1>

<%= render 'form' %>

<%= link_to image_tag('/images/icons/lupa.png')+'Mostrar', @base_conhecimento %> |
<%= link_to image_tag('/images/icons/arrow_left.png')+'Voltar', base_conhecimentos_path %>
