<p>
  <b>Título:</b>
  <%= @frequencia_tipo_de_contratacao.titulo %>
</p>

<p>
  <b>Descrição:</b>
  <%= @frequencia_tipo_de_contratacao.descricao %>
</p>


<%= link_to image_tag('/images/icons/editar.png')+'Editar', edit_frequencia_tipo_de_contratacao_path(@frequencia_tipo_de_contratacao) %> |
<%= link_to image_tag('/images/icons/arrow_left.png')+'Voltar', frequencia_tipo_de_contratacoes_path %>
