<div style="width:800px;height:500px;">

    <div class="tela2">

    </div>
    <div id="tela">

      <h2>Login</h2>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <table class="form">
        <tr>
          <td class="form_title" colspan="2">Informações de Logim</td>
        </tr>
        <% if alert %>
            <tr>
              <td colspan="2" class="alert">
                <%= alert %>
              </td>
            </tr>
        <% elsif notice %>
            <tr>
              <td colspan="2" class="notice">
                <%= notice %>
              </td>
            </tr>
        <% end %>
        <tr>
          <td class="form_label right">Nome de Usuário:</td>
          <td class="form_field">
            <input type="text" value="" size="" name="usuario[email]" id="usuario_email" />
          </td>
        </tr>
        <tr>
          <td class="form_label right">Senha:</td>
          <td class="form_field">
            <input type="password" size="" name="usuario[password]" id="usuario_password" />
          </td>
        </tr>
        <tr>
          <td class="form_footer" colspan="2">
            <%= f.submit "Entrar" %>
              
          </td>
        </tr>
      </table>
      <% end %>
    </div>

</div>