<p>
  <b>Data:</b>
  <%= @frequencia_frequencia.data %>
</p>

<p>
  <b>Matricula:</b>
  <%= @frequencia_frequencia.matricula %>
</p>


<%= link_to 'Edit', edit_frequencia_frequencia_path(@frequencia_frequencia) %> |
<%= link_to 'Back', frequencia_frequencias_path %>
