<p>
  <b>Data:</b>
  <%= @frequencia_frequencia.data.to_s_br %>
</p>

<p>
  <b>Matricula:</b>
  <%= @frequencia_frequencia.matricula %>
</p>


<%= link_to image_tag('/images/icons/arrow_left.png')+' Voltar', frequencia_frequencias_path %>
