<p>
  <b>Orgão:</b>
  <%= @frequencia_orgao.orgao %>
</p>

<p>
  <b>Descrição:</b>
  <%= @frequencia_orgao.descricao %>
</p>


<%= link_to image_tag('/images/icons/editar.png')+'Editar', edit_frequencia_orgao_path(@frequencia_orgao) %> |
<%= link_to image_tag('/images/icons/arrow_left.png')+'Voltar', frequencia_orgaos_path %>
